.settings-checktool {
  position: relative;
  margin: 2px 0;
}

.settings-checktool input {
  position: absolute;
  left: 8px;
  top: calc(50% - 8px);
  width: 16px;
  height: 16px;
  margin: 0;
}

.settings-checktool label {
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 3px;
  padding-block: 5px;
  padding-inline-start: 32px;
  padding-inline-end: 10px;
  font-size: 12px;
  line-height: calc(16 / 12);
}

.settings-checktool__icon {
  opacity: 0.6;
  color: var(--theme-icon-color);
}

.settings-checktool__icon svg {
  display: block;
}

.settings-checktool input:checked + label .settings-checktool__icon {
  opacity: 1;
}

.settings-checktool label:hover {
  background-color: var(--theme-button-background);
}

.settings-checktool input:focus + label {
  outline: dotted 1px var(--theme-focus-outline-color);
  outline-offset: -1px;
  background-color: var(--theme-button-background);
}

.settings-checktool__badge {
  display: inline-block;
  font-size: 10px;
  line-height: 12px;
  color: var(--theme-text-color-alt);
  border: solid 1px var(--theme-splitter-color);
  border-radius: 3px;
  padding: 2px 5px;
}
