.settings-select {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.settings-select--indent {
  padding-inline-start: 8px;
}

.settings-select__label {
  flex: none;
  margin-inline-end: 8px;
}

.settings-select__main {
  display: inline-block;
  position: relative;
}

.settings-select__main select {
  display: block;
  width: 100%;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 3px;
  -moz-appearance: none;
  appearance: none;
  font-size: 12px;
  line-height: calc(16/12);
  padding: 2px 2px;
  padding-inline-end: 16px;
  color: var(--theme-button-color);
  background-color: var(--theme-button-background);
}

.settings-select__main option {
  color: black;
  background: white;
}

.settings-select__main svg {
  position: absolute;
  top: calc(50% - 4px);
  inset-inline-end: 4px;
  fill: currentColor;
  opacity: 0.6;
}
