.settings-tab {
  max-width: 900px;
  margin: 0 auto;
  padding: 12px 20px;
}

.settings-tab--columns {
  column-count: auto;
  column-width: 400px;
  column-gap: 40px;
}

.theme-dark .settings-tab {
  color: var(--theme-text-color-strong);
}

.settings-tag__nobreak {
  break-inside: avoid;
}

.settings-tab section {
  max-width: 600px;
  padding: 12px 0;
  break-inside: avoid;
}

.settings-tab h2 {
  margin: 0 0 12px;
  font-size: 15px;
  line-height: calc(16/14);
  font-weight: 600;
  color: var(--theme-text-color-strong);
}

.settings-tab .settings-tab__reset {
  max-width: 360px;
  margin: auto;
  padding-block: 40px;
  text-align: center;
}

.settings-tab__text {
  margin: 1.25em 0;
  line-height: 1.5;
}

.settings-tab__danger-button {
  padding: 6px 10px;
  border-radius: 3px;
  color: white;
  background-color: var(--red-60);
}

.settings-tab__danger-button:active {
  background-color: var(--red-70);
}
