.settings-radios {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 8px 0;
  gap: 4px;
}

.settings-radios--indent {
  padding-inline-start: 8px;
}

.settings-radios__label {
  flex: none;
  margin-inline-end: 4px;
}

.settings-radios__item {
  display: inline-block;
  padding: 3px 7px;
  border: 1px solid var(--theme-button-border);
  border-radius: 3px;
  background-color: var(--theme-button-background);
}

.settings-radios__item--checked {
  border-color: transparent;
  color: var(--theme-selection-color);
  background-color: var(--theme-selection-background);
}

.settings-radios__item:not(.settings-radios__item--checked):hover {
  background-color: var(--theme-button-active-background);
}

.settings-radios:focus-within {
  outline: 1px dotted var(--theme-focus-outline-color);
}

.settings-radios__item input {
  position: absolute;
  margin: 0;
  -moz-appearance: none;
  appearance: none;
}
