.settings-content {
  max-width: 1080px;
  margin: 0 auto;
  padding: 12px;
}

@media (min-width: 400px) {
  .settings-content {
    padding-inline: 30px;
  }
}

.theme-dark .settings-content {
  color: var(--theme-text-color-strong);
}

.settings-content__section {
  max-width: 600px;
  padding-block: 12px;
  break-inside: avoid;
}

.settings-content__columns {
  display: flex;
  flex-direction: column;
  gap: 0 40px;
}

@media (min-width: 1000px) {
  .settings-content__columns {
    flex-flow: row wrap;
  }
  .settings-content__col {
    flex-basis: calc(50% - 20px);
  }
}

.settings-content h2 {
  margin: 0 0 12px;
  font-size: 15px;
  line-height: calc(16 / 14);
  font-weight: 600;
  color: var(--theme-text-color-strong);
}

.settings-content__text {
  margin: 0.8em 0;
  line-height: 1.5;
}

.settings-content__danger-button {
  padding: 6px 10px;
  border-radius: 3px;
  color: white;
  background-color: var(--red-60);
}

.settings-content__danger-button:active {
  background-color: var(--red-70);
}

.settings-content__panel-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
