.settings-nav {
  width: 160px;
  max-width: 30vw;
  overflow: hidden;
  border-inline-end: 1px solid var(--theme-splitter-color);
  background-color: var(--theme-sidebar-background);
}

.settings-nav__title {
  margin: 0;
  padding: 30px 10px 16px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
}

.settings-nav__tabs {
  margin: 0;
  padding: 12px 0;
  list-style: none;
}

.settings-nav__tab {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 5px 10px;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: var(--theme-toolbar-color);
  text-align: center;
  text-decoration: none;
  outline-offset: -1px;
  cursor: default;
}

@media (min-width: 600px) {
  .settings-nav {
    width: 220px;
  }
  .settings-nav__title,
  .settings-nav__tab {
    padding-inline: 24px;
  }
}

.settings-nav__tab[aria-current="true"] {
  color: var(--theme-selection-color);
  background-color: var(--theme-selection-background);
}
