.settings-nav {
  display: grid;
  grid-template-areas: "main search reset";
  grid-template-columns: auto 1fr auto;
  gap: 4px;
  min-height: 29px;
  padding: 0 4px;
  background-color: var(--theme-toolbar-background);
  border-bottom: 1px solid var(--theme-splitter-color);
}

.settings-nav__separator {
  display: block;
  width: 1px;
  margin: 4px 0;
  border-inline-start: 1px solid var(--theme-splitter-color);
}

.settings-nav__separator:first-child {
  margin-inline-end: 4px;
}

.settings-nav__group {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.settings-nav__group--main {
  grid-area: main;
}

.settings-nav__group--search {
  grid-area: search;
}

.settings-nav__group--reset {
  grid-area: reset;
}

.settings-nav__tab {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 4px 8px;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: var(--theme-toolbar-color);
  text-align: center;
  text-decoration: none;
  outline-offset: -1px;
  cursor: default;
}

.settings-nav__tab[aria-current="true"] {
  color: var(--theme-toolbar-selected-color);
}

.settings-nav__tab[aria-current="true"]::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  border-bottom: 1px solid currentColor;
}

.theme-highcontrast .settings-nav__tab[aria-current="true"] {
  box-shadow: inset 0 -2px 0 currentColor;
}

.settings-nav__search {
  width: 100%;
  max-width: 340px;
  position: relative;
  display: block;
}

.settings-nav__search svg {
  position: absolute;
  top: calc(50% - 6px);
  left: 5px;
  width: 12px;
  height: 12px;
  fill: var(--theme-icon-dimmed-color);
  pointer-events: none;
}

.settings-nav__search input {
  height: 100%;
  width: 100%;
  padding: 3px 7px;
  padding-inline-start: 20px;
  border: solid 1px transparent;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: var(--theme-toolbar-color);
  background-color: transparent;
}

.settings-nav__search input:focus {
  border-color: var(--theme-input-focus-outline-color);
}
