.settings-radios {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 4px -2px;
  padding: 2px;
}

.settings-radios__item {
  display: inline-block;
  align-items: center;
  padding: 4px 8px;
  border-radius: 3px;
}

.settings-radios__item--checked {
  color: var(--theme-selection-color);
  background-color: var(--theme-selection-background);
}

.settings-radios__item:not(.settings-radios__item--checked):hover {
  background-color: var(--settings-item-hover);
}

.settings-radios:focus-within {
  outline: 1px dotted;
}

.settings-radios__item input {
  position: absolute;
  margin: 0;
  -moz-appearance: none;
  appearance: none;
}
